.navbar{
    background-color: grey;
}
#tamil2{
    color: cyan;
}
#tamil{
    color:yellow;

}
.navbar-brand{
    color: white;
}
#sp{
    text-decoration: none;
    color: white;
}
#table{
    margin-top:6rem;
}
#table2{
    margin-top: 2rem;
}